<%- include("../partials/header")%>

<div class="post-cards">
  <% for (let post of posts) { %>
    <div class="card mb-4">
      <div class="card-body">
         <img src="http://localhost:7777/pictures/common.jpg" class="img-responsive log-img">
         <h5 class="card-title"><%= post.username %></h5>
        
        <p class="card-text"><%= post.content %></p>
        
        <img src="<%= post.imageUrl%>" class="image-thumbnail">

        </div>
    </div>
  <% } %>
</div>


<%- include("../partials/footer")%>